* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;

}


.brand {
    padding: 10px;
}


.top {
    background-color: #1F2937;
    color: white;
}





.nav-list {

    display: flex;
    justify-content: flex-end;
    align-items: center;



}
.nav-list li{
    font-size: 24px;
}

.nav-item {
    list-style-type: none;
    padding: 10px;
    margin-right: 2rem;
    


}

.nav-item a {
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.nav-item:nth-child(1) {
    margin-left: 2rem;
}


.nav-item:nth-child(2) {
    margin-right: auto;
    margin-left: -2rem;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main div{
    flex: 1;
    padding: 100px 100px;
    
}

.two{
    width: 35%;
}

.two h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.two p{
    font-size: 18px;
}

.sign-up {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    text-align: center;
    padding: 15px 32px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    
}
.three{
    background-color: #372d1f ;
    border-radius: 25%;
    margin-right: 25px;
    
}

.photo {
    max-width: 1000px;
    height: 500px;
    width: 100%;
    border-radius: 25%;
    object-fit: cover;


}

.middle h1{
    font-size: 36px;
    columns: #1F2937;
    text-align: center;
    padding-top: 20px;
}

.bubble{
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    padding-top: 50px;
}

.bubble .info{
    
    height: 250px;
    width: 250px;
    border: 4px solid #3882F6;
    border-radius: 15%;
}