* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;

}


.brand {
    padding: 10px;
}


.top {
    background-color: #103673;
    color: white;
}





.nav-list {

    display: flex;
    justify-content: flex-end;
    align-items: center;



}

.nav-item {
    list-style-type: none;
    padding: 10px;
    margin-right: 2rem;
    


}

.nav-item a {
    color: white;
    text-decoration: none;
    cursor: pointer;

}

.nav-item:nth-child(1) {
    margin-left: 2rem;
}


.nav-item:nth-child(2) {
    margin-right: auto;
    margin-left: -2rem;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main div{
    flex: 1;
    padding: 100px 100px;
    
}

.two{
    width: 35%;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    text-align: center;
    padding: 15px 32px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    
}

.photo {
    max-width: 1000px;
    height: 500px;
    width: auto;

}