* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;

}

.one{
    background-color: #103673;
}

a{
    color:white; 
}



/* .header_link li{

    border: 4px green solid;
    list-style-type: none;
    width: 100%;
    
    flex: 1 1 auto; 
    align-items: end;
    

} */

.header_link {

    border: 4px red solid;
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    
}

li{
    border: 2px green solid;
    flex: 1;

}